@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  background: var(--vt-c-black);
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie_card {
  position: relative;
  display: block;
  width: 95%;
  height: auto;
  min-height: 350px;
  margin: 70px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}
.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
  background: linear-gradient(to top, var(--vt-c-black) 30%, transparent 150%);
  display: inline-grid;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
  width: 100%;
  margin-top: 85px;
}
.movie_card .info_section .movie_header h1 {
  color: var(--vt-c-white);
  font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
  color: var(--vt-c-aqua);
  font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: var(--vt-c-white);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--vt-c-indigo);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: var(--vt-c-aqua);
  margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 300px;
  box-shadow: 0 0 20px -10px var(--vt-c-black);
}
.movie_card .info_section .movie_desc {
  padding: 0 25px 25px 25px;
  height: 50%;
  width: 100%;
}
.movie_card .info_section .movie_desc .text {
  color: var(--vt-c-blue-clean);
  text-align: justify;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: auto;
  right: 0;
  background-size: cover;
  border-radius: 11px;
  width: 100%;
  background-position: 10% 10% !important;
}