@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.color01 {
  text-decoration: none;
  color: rgb(179, 24, 24);
  transition: 0.4s;
}

.bg-color-primary {
  background-color: #171717f1;
}

.card,.card-body {
  background-color: #222222;
  border-radius: .9rem;
}

@media (hover: hover) {
  a:hover {
    color: hsla(48, 100%, 37%, 0.907);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: auto;
  }
} */
