@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.color01 {
  text-decoration: none;
  color: var(--vt-c-red);
  transition: 0.4s;
}

.bg-color-primary {
  background-color: var(--vt-c-black);
}

.card,.card-body {
  background-color: #222222;
  border-radius: .9rem;
}

.themes {
  background-color: #28282800;
  border: 0;
}


@media (hover: hover) {
  a:hover {
    color: var(--vt-c-yellow);
  }
}


