
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: var(--vt-c-red);
    background-color: var(--color-background-pagination);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    color: var(--vt-c-red);
    background-color: var(--color-background-2);
}

ul.pagination li a:hover:not(.active) {background-color: var(--vt-c-yellow);}
